@import "../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  font-family: "Martel", serif;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  padding: 50px 70px 50px;
  margin-top: 60px;
  border: white 0.25px solid;
  background-color: white;
  color: $black;
}

.italic {
  font-style: italic;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: $red;
  border-radius: 50%;
  display: inline-block;
  margin: -10px 47% 15px;
}

.email {
  font-family: 'Special Elite', cursive;
  color: $black;
  font-size: 15px;
  padding: 10px;
  border-left: .25px dotted $black;
}