@import "../../styles/colors";

.container {
  padding-top: 50px;
  display: flex;
}

.bookcontainer {
  position: absolute;
  left: 20px;
  bottom: 15%;
}

.book {
  z-index: 2;
  width: 15px;
  color: black;
}

.bookcover {
  object-fit: cover;
  width: 20px;
  height: 80px;
  cursor: pointer;
}

.shelf {
  z-index: 11;
  position: relative;
  object-fit: contain;
  max-width: 100%;
}

.shelfimg {
  max-width: 100%;
}

.opacity {
  opacity: 0;
}
