@import "../../styles/colors";

.container {
  display: block;
  position: fixed;
  left: 25%;
  top: 25%;
  z-index: 9999;
  width: 500px;
  height: 400px;
  padding-top: 100px;
  background-color: $red;
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
